<br><br><br>
<div class="renecades">
RENECADES GAMEROOM
</div>

<br><br><br>

<div class="slogans">
Choose from Dozens of Games<br><br>
Compete with Other Gamers<br><br>
Earn Rewards and Top the Leaderboard
</div>


<div class="graphic">
    <%= image_tag("graphic.jpg", height: "231", width: "660") %>
</div>

<div class="footer">
  <%= image_tag("navimage.png", height: "150", width: "800") %>
</div>
