<div class="container">
<h1>Welcome to Renecades Gameroom!</h1>
<h4>Play a variety of games and earn achievements!</h4>
</div>

<div style= "width: 400px;margin:left">
    <img style="width: 400px" src="https://cdn.cp.adobe.io/content/2/dcx/36eaee5d-9346-4e1a-8fab-3ff9828744bb/rendition/preview.jpg/version/0/format/jpg/dimension/width/size/1200">
</div><br>
<%= link_to "Join Renecades", new_user_path if !logged_in? %><br>
<%= link_to('Log in with Facebook!', '/auth/facebook') if !logged_in? %><br>


<img style="width: 100px" src="https://cdn3.iconfinder.com/data/icons/brain-games/1042/Board-Games.png">
<img style="width: 150px" src="http://icons.iconarchive.com/icons/google/noto-emoji-activities/1024/52761-video-game-icon.png">
<img style="width: 130px" src="https://cdn4.iconfinder.com/data/icons/sports-games-and-fitness-vol-7/520/sports_sport_games_fitness_play_game_-_33-512.png">
