<div class="renecades">
<br>RENECADES GAMEROOM<br>
</div>

<br><br>

<div class="slogans">
Choose from Dozens of Games<br><br>
Compete with Other Gamers<br><br>
Earn Rewards and Top the Leaderboard
</div>


<div class="graphic">
    <%= image_tag("graphic.jpg", height: "252", width: "720") %>
</div>

<br>

<div class="home-links">
<%= link_to "Join Renecades", new_user_path if !logged_in? %><br><br>
<%= link_to('Login with Facebook', '/auth/facebook') if !logged_in? %><br>
</div>

<br>

<div class="footer">
</div>
