/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* NAVIGATION */
nav {
  background: #317E94;
  background-size: 840px 190px;
  height: 50px;
}

nav a {
    text-decoration: none;
    padding: 4px 30px;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: bold;
    float: left;
 }

h1 {
  color: #A8C4C9;
  font-family: sans-serif;
}

h2 {
  color: #A8C4C9;
  font-family: sans-serif;
}

h4 {
  color: #A2BCD0;
  font-family: sans-serif;
}

body {
    background: black;
    color: #66B3CA;
    font-family: sans-serif;
}

.button, input[type="submit" i]{
  color: #fff;
  text-decoration: none;
  background-color: #0E5A8E;
  padding: 4px 16px;
  position: absolute;
}

a:link {
  color: #DDEEF3;
}
a:visited {
  color: #DDEEF3;
}
a:hover {
  color: #AB9418;
}

form input[type='text'] {
  width: 150px;
  height: 20px;
}

.renecades {
  font-size: 48px;
  font-family: sans-serif;
  color: #69D1F0;
  padding: 10px 40px;
  position: absolute;
  left: 20px;
  font-weight: bold;
  letter-spacing: 3px;
}

.graphic {
  position: absolute;
  right: 10px;
  top: 200px;
}

.slogans {
  float: left;
  font-family: sans-serif;
  font-size: 22px;
  padding: 10px 40px;
  font-weight: bold;
  color: #E1F1F3;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  top: 250px;
  left: 20px;
}

.home-links {
  float: left;
  font-family: sans-serif;
  font-size: 20px;
  position: absolute;
  bottom: 200px;
  left: 60px;
}

.rank {
  color: #DDEEF3;
  font-size: 20px;
}

.style_image {
  position: absolute;
  width: 900px;
  height: 600px;
  margin-top: -800px;
  margin-left: 300px;
}

.game-image {
  position: absolute;
}

.footer {
  position: relative;
  top: 400px;
  height: 100px;
  background-image: url(navimage.png);
  background-size: 840px 190px
}

#search-submit {
  position: relative;
  left: 10px;
}
