<h2>Renecades Leaderboard</h2>
<ol>
<% @users.each do |user| %>
  <li><%= user.username %> - <%= user.reward_points %> Reward Points</li> <br>
<% end %>
</ol>
<h2>Achievements</h2>

Novice at Renecades - 625 Reward Points<br>
Renecade Apprentice - 1250 Reward Points<br>
Game Enthusiast - 2500 Reward Points<br>
Strategy Master - 5000 Reward Points<br>
King of Renecades - 10000 Reward Points
