<h2>Renecades Ranks</h2>
<table border="1" style="width: 30%;">
  <tr>
      <th>Player Rank</th>
      <th>Reward Points</th>
  <tr>
  <tr>
      <td>Novice</td>
      <td>0 - 100</td>
  </tr>
  <tr>
      <td>Apprentice</td>
      <td>100 - 300</td>
  </tr>
  <tr>
      <td>Game Enthusiast</td>
      <td>300 - 600</td>
  </tr>
  <tr>
      <td>Game Crusher</td>
      <td>600 - 1000</td>
  </tr>
  <tr>
      <td>Strategy Master</td>
      <td>1000 - 1500</td>
  </tr>
  <tr>
      <td>King of Reneacades</td>
      <td>1500 - 2100</td>
  </tr>
</table>
