<h1>Renecades Leaderboard</h1>
<ol>
<% @users.each do |user| %>
  <h3><li>Username: <%= user.username %></h3>
  <h4>Rank: <%= user.rank %> - <%= user.reward_points %> Reward Points</li></h4>
<% end %>
</ol>

<h1>Achievements</h1>
<h3>Novice at Renecades - 625 Reward Points<br>
Renecade Apprentice - 1250 Reward Points<br>
Game Enthusiast - 2500 Reward Points<br>
Strategy Master - 5000 Reward Points<br>
King of Renecades - 10000 Reward Points</h3>
