<h2>Renecades Ranks</h2>
<th>
<h4>Novice: 0 - 100 Reward Points<br>
Apprentice: 100 - 300 Reward Points<br>
Game Enthusiast:  300 - 600 Reward Points<br>
Game Crusher:  600 - 1000 Reward Points<br>
Strategy Master: 1000 - 1500 Reward Points<br>
King of Renecades: 1500 - 2100 Reward Points</h4></th>
